<!DOCTYPE html>
<html>
<head>
  <title>MPSPortal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if signed_in %>
    <%= link_to "Sign Out", signout_path %>

  <% else %>

    <%= link_to "Sign In", "/auth/salesforcesandbox" %>
  <% end %>

  <%= yield %>

</body>
</html>
